<div class="sidebar">
  <img
    src="https://e7.pngegg.com/pngimages/788/957/png-clipart-graphics-font-line-google-adwords-banner-orange-google-adwords-banner.png"
  />
  <div style="text-align: center; font-size: 1em">
    Welcome to UglyGlah home page.. bla bla.. bla bla..
  </div>
  <div style="text-align: center">
    <button class="btnCreatePost" (click)="goToCreatePost()">
      Create post
    </button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateSubuglyglah" (click)="goToCreateSubuglyglah()">
      Create subuglyglah
    </button>
  </div>
</div>
