<div class="sidebar">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMfNTNe0gmJ-O_7nH8-Bq2BfhP6L8QWQMPAQ&usqp=CAU"
    style="width: 100%"
  />
  <div style="text-align: center; font-size: 1em">
    Welcome to UglyGlah home page.. bla bla.. bla bla..
  </div>
  <div style="text-align: center">
    <button class="btnCreatePost" (click)="goToCreatePost()">
      Create post
    </button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateSubuglyglah" (click)="goToCreateSubuglyglah()">
      Create subuglyglah
    </button>
  </div>
</div>
